/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAKklEQVQImT3IoREAMAwDsU8n8P4LmpqZBrRXKI1tSQBwJCV5AL6n7e0kC1PHDqFHw2E7AAAAAElFTkSuQmCC');
    font-family: serif;
    font-size: 11px;
}

header,
footer,
section {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

section {
    height: 100%;
    z-index: 1;
    /*background: rgba(0, 0, 0, .8);*/
}

footer {
    bottom: 0;
    z-index: 2;
}

.userInfo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
}

.toolbar {
    text-align: left;
    vertical-align: middle;
    position: relative;
}

.toolbar * {
    display: inline-block;
}

.toolbar span {
    padding: 11px 0;
    padding-left: 34px;
    background: no-repeat url("data:image/gif;base64,R0lGODlhIAAgAKUAADSu/Kze/FzS/NTu/GTC/ETC/IzS/Ey+/Lzi/PT6/ES6/NT2/KTu/GTi/ESy/FTK/Hzq/OTy/ITK/Mz2/HTq/Dy2/LTe/Nzu/EzK/Fy+/MTq/Pz+/Nz2/LTy/Gzq/ITq/Dyy/GTe/HTG/EzC/JTS/FS6/MTm/PT+/ES+/NT6/KTy/Gzm/ES2/FzO/ITO/LTi/Nzy/ITu/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCQAyACwAAAAAIAAgAAAG/kCZcEgsygCOjAuRMDqfRYBUCnJFoNjodEs6ZbPbcOn6fYbDjkvZeUaT18O2eAOPy7eG7ISeCIhKMCYGIHcAb0YdHh0BDlNDCQZ3Ek8pHh4PUhkBA0UBd01FGx8eLQAgAVASchZGCx4rhKxQCY1nk0UqK6UEX5FnJUYxFCgAqFkmbSBGFB4sAJxZMHLLFM7QWBHTRaMHxV/IbUYqFLu9bcBFE69Sxk+0bSJGoh4CUi9QvmeyRSkUK5gANF0TYuHOISKJyBGS8ogBBjnxoCTUdUABhwkMmK2o0EYNlgWjLDEbGYKYrTIbFjD4AGFFCAEmzzigU+dIIUM1hdz0mPPOE5icdmzRBGpzi4iDQJFkEMEESxAAIfkECQkAOwAsAAAAACAAIACFNK78rN78XNL8ZL781O78TML8jNL8TLb87Pb8vOL8RLr8ZOL81Pb8nOr8fMr8RLL8hO78dOr8PLb8dMb85PL8VMr8XL78/P78vPL8bOr85Pb8tPL8PK78tN78ZN78bML83O78TL789P78bOL83Pb8pPL8hMr8lOb8XM78XNb8ZML8lNL8VLr89Pr8xOr8RL781Pr8pO78RLb8VM78zPb8PLL8tOL83PL8bOb8hM78lO78////AAAAAAAAAAAAAAAABv7AnXBILBqPyKRyyWw6n8IWNIkg2mSgqfEGMFUJHICMoiWuAIBa4IEGsKTli6xNRxucrcDEwpqs63VkS390Ni0GgG0OS4gAAwEuBAFwAYkAHHBEFzo0HWgBSY2ANkYMGThhHUotbIAmRiUZKI5MonQsRhARIQCgSy6JHEYROAoABEwglsMRc8hLXIm5Gby+SsCAwkUxsrSMibhFpiM1AKpJrImLRRcQ3eZJDSnldefiERkVaB9HGBkZLwBVObIhQwQUNdYNEdHA4AxAE5JcOPFvxAkaJEjQiBEB30NAWZDcqFFgBD6D//B5COiKyoE2BQR4wIHDwwyWgA5kYmfBki9PNBwEHXHw0yeHZ0dasCia6IBQJIeY0jFxwQkFB2F+TniKp4MJFq04WHDQYaeRIAAh+QQJCQA4ACwAAAAAIAAgAIU0rvyk2vxswvzU7vxUyvxUuvyk7vxs4vxEuvzs9vyEyvy84vxk3vy88vxEsvzk8vxc0vxUxvx85vyU0vy03vxs6vxEwvz8/vyM0vw8rvx8yvzc9vxczvxkvvy09vz0/vyMzvzE5vzM8vys3vx0xvzc7vxUzvxcvvys8vxs5vxEvvz0+vyEzvy85vxk4vxEtvzk9vxk1vxkwvy04vx06vxMwvw8svzM9vz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCccEgsGo/IpHLJbDqf0Kh0Si1eqsnVaTRdBUiFAmm0wl1IAEArOrKl3wAbBfO2JZ50QGc0GIw6ABojcBpOgwAURi1XIHB3SytuiVkObwFMAXpMeQACAzMYLEYoDTIAXEshcG8ORjQVCAADTBurb640L7JMJbZpRBcPEhU1p0wiBLFwGQMBLCduEDQmmksGFdRwJyyrNRUpGQAzSiuvFqsaM7YHNBAAGWVI1we2FCvhcN40EahHHikVVNgqo8EWhwoVDHwwssJAimm2CuF44IsDQBoGbmzYcMPAK4i2HgyZ4EvFgYcIX1WgwUCgLRBEVhTwBUAFBAYpUjCAcM6XNYMrRB5Uokl0mUgjA4YWpZmhRJIHM5facnA0SyOpbxQAZfKg4FISVZ+soKChAL4MBTTYUxIEACH5BAkJADUALAAAAAAgACAAhTSu/JzW/GzG/NTu/FTK/FS6/KTu/Gzi/Oz2/ES+/ITO/GTe/Lzu/LTe/ESy/OTy/FzS/GS+/Lzy/Gzq/Pz+/JTS/Kze/HzK/Nz2/FzO/FzC/PT+/EzC/IzO/MTq/Lzi/Ey2/Dyy/KTa/HTG/Nzu/FTO/Fy+/LTy/Gzm/PT6/ETC/GTi/LTi/ES2/OT2/GTW/GTC/Mz2/HTq/IzS/MTu/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAb+wJpwSCwaj8ikcslsOp/QqHRKrVqJD9gAmbKMTIWRJdVUAAAXRNESOrsBIcsy1T6HAhTh7GyyeAYWEWcdQhsBhEQsb2cPNRZnDUaPABYfIGdqQ2ZvIzV0lEgNJh4ObiJEJouRIgARSnl7ZwJEpW8kNSOgSx4EJQAgRIsAZAUAW0sYEyhwwYvExkzJyyG0iwwnGrpKMTILv6iLGRO+rksGExAAs5qLHCgyAsdJGzIoKgCnQ4qLBygGTAZQHMBE5NObBCgmSFByol4CNEYuCCMwQYaBDUZSnEPh6xeLIg+EASCQ0GIMDBhiGJChrKMbE/JqdBCZYMW7CRVxTjjwUFhDhYLFaEKweWABhJ7CCuQhQqKWyKeLQjQyMqAOVKghYoIMelUYiKlJUszs+qYDmSYPJHa9cCtKigYXuAIocKHBWSRBAAAh+QQJCQA3ACwAAAAAIAAgAIU0rvyc1vxc0vzU7vxkwvxEwvyk7vyM0vzs9vxMtvxk4vy03vzk8vxEvvx04vxEsvzU9vyEyvzE6vys3vx00vz8/vxcvvy85vw8tvyk2vxk3vzc7vx0xvxUzvyU7vz0/vxUuvxs6vy84vx06vy88vw8svyc2vxc1vxsxvyk8vyU0vz0+vxMuvxs5vy04vzk9vx05vxEtvzc9vyEzvzc8vxczvzM9vz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/sCbcEgsGo9I4mvGSTqRlQNginhahQzQdJq5Pgex7RTkTb4e4u2mbKxo09MJu6iCAwiMudIeEK4mHCAWHBMrVzNwfTcTaGklck4rJWkEQlIAFhMSAxMEUwdOInB5C3FGE3E2HhVGiGIoN5IAC0ioJS0wNkYWabQZd06eNSEGN6xDjWo3HACQtQkULQ4sZENwhloDVjIjLQAlRNc32dsh3uDIaRkqEwzHTjYjGgAJRLxwoFcGIQIAsEOu0jww9GQFjBANAHQZ4sLOiWJP9imgQkSWGAwhRpBwQiIEQgARjESA06EFsQ9GVuwL0eFblSIM7JQcMcKADRkybBgYYa4lTwARSC6laaAho0eeIWAoSNgsyYo3cBp0UNCihQYBBaaUAOqEwSQ7YCO8/JIM7BYJbLKYFZOvzIqRawE8eFeGAbO1aPXEWhAoGYgICwgiCQIAIfkECQkAQAAsAAAAACAAIACGNK78nNb8XNL81O78ZML8RML8pO78TLb8jNL87Pb8tN78RLr81Pb8ZOL8RLL8hMr8xOr8pOL8VMb8XL78fOb8xOb8PLb85PL8dMb8TL78/P78vOb85Pb8dOr8PK78pNr8ZN783O78bML8tPL8VLr89P78vOL83Pb8bOr8vPL8VM78hO78nNr8ZNL8TMr8pPL8TLr8lNL89Pr8tOL8RL781Pr8bOb8RLb8hM78rN78hOr8PLL83PL8bMb8zPb8XM78////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/6AQIKDhDImOBMHHgAOEzgmMoSSk4McODsAmZqbEJSeQBoIi5ukjBqfkxckpawIqJIDN6ysIa+DF7KzpCS2ghqrrCI5IQkJIQoVvUAIrAQXypQcrAGCMjkYJCQYOZEaPqg4pdRAOaObOwojKCOeMuaZIoLMAAQ5EAM5BJkSKCg1lBtKPcuRKcckggBaoNBxSlK4TfHcATBISUEmGx2+SZpASgGQD/RQ6fth48UkB6QIBEBwwOMngjQ66Jg0q9arAQBuoOhAk5YtnDc68JSEslSyVxouREBBgUdDQRxLueplAIUAABgIPSTlIdIrGUJpAPhAyMSsqagM2GiQKUEhXXMUPaWwgULsg0lbSbkwUGKSjKodJADY4VbShVl0OxjwceKEjxcdUNhQkcmEp3mkFoDYybkDRhBiJ36SAawUDQEgbNgAISC0g6OfLrzTpelB4ZtFNR34IEKRhwMiPtzuxaM0gHHQRj/Q9Cz5qwsYsjqf7jwQACH5BAkJAD8ALAAAAAAgACAAhTSu/KTa/FzS/GS+/NTu/EzC/IzS/KTq/Ey2/Oz2/ES6/Lzi/GTi/HzK/OTy/Hzq/ESy/FTK/MTq/NT2/HTq/Dy2/LTe/HTG/JTa/LTy/Fy+/Pz+/Gzq/Dyu/GzG/Nzu/FzG/JTS/KTy/Ey+/PT+/MTm/Gzi/IzO/ITq/FzO/Kze/GTe/GTC/FTG/KTu/FS6/PT6/ES+/Lzm/ITO/OT2/ES2/FTO/Mz2/Nz2/LTi/Dyy/Nzy/JTW/Gzm/ITu/P///wb+wJ9wSIQtZppap1PTnBYwonQ6pM10gKx2q5s5qNSNobMtmw1RsNDxMrvLry+YUHvbtRAC1QG5+wEQckMwbW4DFh8JCR8qGm8vG0QGhoJDGw8mMW4GQw5uIUIwKhcaGhcYPRQ9KWUaekIzZqA/Fn1lHQIcq1kdFpGhZFsDQpMAGioEEioDWS0UHC0haUM5ZggLKlkWU9kAKRwov0SxZhAlx2AWAB09PRNTjmYnP+JUzN8iU7ZlJWpD2SPATXnzwZ8QAgBqcKAw0E1BgwgVMpSyb0s/gwA5+IDnZp5BZjYouJhC7ta0OR5McHgnpVpHgz9cgKsH7I0Kfxl0FeBxUkhhgywXSgTLcqLnDxIyKdgAlGCKA1dCFpSBcOAGDhw3XKjqESHLApg/ApTRtZDDQgaaAAQAGzVYBQErephYISAthK9shSQo6WZG07xEEgS4gECHDgQXAvwFzLix48eQIxMJAgAh+QQJCQA7ACwAAAAAIAAgAIU0rvyk2vx0xvzU7vxUyvxUuvxs4vyk7vzs9vxEuvzU9vyE6vy84vyM0vxk3vx85vxEwvxEsvxs6vzE6vy03vyEyvzk8vxc0vxkvvz8/vxMuvzk9vzc7vx04vy08vz0/vzc9vzE5vxMtvw8svys3vx8yvxczvxcvvxs5vyk8vz0+vxEvvzU+vyU5vy85vyU0vxk4vxMwvxEtvx06vzM9vy04vyEzvxk1vxkwvxMvvzc8vz///8AAAAAAAAAAAAAAAAG/sCdcEhUMWynCGAUOdkYKqJ0OrTYRoCsdjuyWajUTGNLLgMaUbDQUjC7tYUveCB72wERDtVSv9sjckMqbWYYFBwIHQYXOW4FGUQvhYE7EigSEgaNZQ1VZiKQKiQCBQk5JgaWJmZyNm4NFFhkIyaYq2QlOyqyZSQVABgkEwMkGFkEHRKbWiMqNW4VOxkMUyRYF5llFK5mkGokS6kxZBUDASUnW9FqQsYmMzdkBUQiWiHsQuA52VxEvHr4BgCQIaFDGX9aALITSHDGwSH1stzDp0/Cg4haiAjQ0gmfOwkHdIXwtU5IAGZpwFDIgmIGDXYItnSksgvAuwXe1JTYQuIbV4FLCvDtQMDrTEpBByTM8CBUCAMyEV6E0AGCxoEZllrkFArOjFKlMFaMUNiUQdEsBhxcWJElwsSmQhDsfFNhA9wpCALgKDBihAgBARDcHUy4sOHDiJsGAQAh+QQJCQA2ACwAAAAAIAAgAIU0rvyk2vxc0vxkvvzU7vxMwvyE0vxMtvzs9vxs4vy84vw8tvx8yvzU+vyE7vxs6vxEsvy03vx01vx0xvzk8vxUyvyU0vxcvvz8/vzE6vw8rvxswvzc7vyM0vxMvvz0+vx04vzE5vxEtvyEyvys3vxk1vxkwvxUxvxUuvzs+vxs5vy85vzk9vx06vy04vx02vxczvw8svzc8vyM1vxEuvyEzvz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCbcEj8KGoXCEAjutQUH6J0OqQwYoCsdqupUahUTGdLLgMsUbAwdTG7tSiWWsh42yGc+adtd0O+aghKWTECCQkgCQIebihpVCRbMSotD5aWCYxlFmArZBASHjQiHjAqIA8wZoBECFhaIx8uZBoClqpkDFMjWyRCHyQZBCQDWScPKppaGo82CFsjahFZJSoJZRFEAVoQzVPTAKgFuUQTWh1zQsW2JWQXRAdaIek2kR4P11xErwAy9AQARLQAUYaIBi3+0gEU8aBFwSHxssxLZw8frXLn6BWD8aDdFhTauHmTAi7Bg3HQWm1BByYSAAEtEhzcko1IHS2+pmwwRgnlXBZvCGZm6eCNQa1KuLbomuJpCwQLIWTICGFABbIXq1r2SeCgwR4y0dQoEFpmBgYhFAYBODBSCoKbZUAOAQjgDz0hCAJsOKBBw4ENAc4OiYDnruEhbQ8rXsy4sZogACH5BAkJADgALAAAAAAgACAAhTSu/KTa/HTG/EzK/NTu/FS6/ES6/Gzi/KTu/Oz2/GTe/IzS/ESy/LTe/FzO/OTy/ETC/HTS/Gzq/Nz2/FTG/Ey6/MTq/Pz+/Lzm/GTW/Dy2/ITK/Nzu/HTi/PT+/Ey2/Lzi/GTS/Dyy/Kze/HTK/FTK/Fy+/ES+/Gzm/LTy/PT6/GTi/JTS/ES2/LTi/FzS/OT2/EzC/ITO/HTq/GTC/Ey+/Mz2/Nzy/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAb+QJxwSCziAAyTDKQyOp9FgFQqkj2g2Oh0y/Jks9tw4fodJgKCiigcZnDKCRl7PmWQoZg14PRSHDoHLzV0BRdQI1InCjMSjYyMB4NsC08YUhooMzMINhMtNQ4ojQ5zd2Z6AAMICUNTIiGZpGEbRnJTI0UEIyZSFBIokltNZluUT4gALzMHbA1EAXXDTw0AIgcSMbNEAlPGWDQADhIZYkQfUxZfiDUozFsiRKhvWQQALRIdbPFT81j19zP0DTknJV2WdfgECuEmxRsUcKHIbSnwLBoWZAdmZNsigEiCYofWOFjWrMiGLbiI6AIHgIKojcKKJEAFYIG0OiMQzAjBpqNKERBtWFi4YUJAgCYXIszpVwSZQhwPGGqDAoKmFBU3XEgN88EQlgRb6bwz9TUAjQJW2TAt04rOB7JshdDZ4DWuFo5w7cpNIoAJliAAIfkECQkAPgAsAAAAACAAIACFNK78pNr8bML8VMr81O78dNr8VLr87Pb8RLr8pO78lN78ZN78RLL8hMr81Pr8bOb8tN78XNL8/P78PLb85PL8ZL789P78TML8xOr8lNL8fOb8vOb8PK78fMr8XM783O78bOL89Pr8TL78hOr8TLb8jNL85Pb8dOr8vOL8ZNb8vPL8rN78dMb8VM78XL787Pr8RL78ZOL8RLb8hM783Pb8bOr8tOL8XNb8ZML8PLL83PL8dOL8lOb8zPb8////AAAABv5An3BILBqPyKRyyWw6n8IQ9LVikXIcEisgIdoYuuZhxgGYzwADkVCWUZYbhhnWWjwei4ii6zPJzQZSSCtmCAs1JzU1D4o1Iw4hLmgAJUgbZgOKJwk9NDQ9PA+JBZNmb0UHOQCZNQmCQx0cEaIepQ1GDQAwjCpHApiMF5Mcrz4HZjk3CUmEABEnIKU2RAFnDMVGEAAcIDXCaLdDLGeVSxUALScpk2pDJGcYTIQiNdFoDESqZmFLBAAyiEoRKbOPiT+AJwS6gycPgIgHO4YR+WWmnJJzHmqsQ9NOSDUz15RoAyDq25kORI6RSzJyRQ8NpSAUyXVmRZQVBAisOEdJyG24SdhSoSkRwsakHDZ9fETD4giKSQyqGDDAYoWgpWhOGWkGkg8RExQnhTty4E8aCDpChNBh42cpEl6LSJBUqu4wrUY62N1rhgOBJCEM8LVLAu+RECUGi42rhILewSwMNwkBoYMBghwMNICArUgQACH5BAkJAD8ALAAAAAAgACAAhTSu/KTa/HTG/NTu/FTK/FS6/KTu/Gzm/Oz2/ES6/IzO/MTq/Lzi/NT6/ITq/ESy/GTe/ITK/Pz+/ETC/LTe/OTy/FzS/GS+/LTy/Hzm/PT+/Lzy/Dyu/HzK/Nzu/FzO/HTq/PT6/Ey6/JTS/MTm/OT2/JTm/Ey2/Mzy/Kze/HTK/FTO/Fy+/KTy/Gzq/Oz6/ES+/IzS/Lzm/Nz2/ES2/GTi/ITO/EzC/LTi/GTC/LT2/Dyy/Nzy/JTq/Mz2/P///wb+wJ9wSCwaj8ikcslsOp/QISIlOO12J0EAEZV2AOCwOMKFyh5gmAVyOEAsMDCN9EylayCX67B3gWowHDxOMmAEfiAGPjMzPgYgfCYSTQg7AIeJL0YhBn4YTV8wnkkUBHwNSwhgbQZJlQAfLg6TSQEAoiAhSnY7p0oCABYurUsXsActPyEDODE2RCe3BChMdiIuGQViD0SWYINLAwAJfmJgRBxh4EriNOXm0GF0S3Y5GCbmHAMBNizpYDGYGAvwA4c5FjbMgXmgixQADrqAielgUCGAgBJkGKmY4kcFhRRC/FOYIgIAFikGDEhhDIACIRLF6PpiUUEKNOZ2dPxhy1xgByEfFZ6YFCKAgAIFtDTsaa7CkBgWc5QxUiGmmJdDQmizKABHhRAheOCwKuZEwyEVcFpcm8+pkQFq2a7Vl6TCVrlC3SYJoQCvuQhnl3igKVeA3ichKHQo8I9DgQghlQQBACH5BAkJADgALAAAAAAgACAAhTSu/KTa/GzG/NTu/FTK/FS6/KTu/Oz2/Gzm/ES+/NT2/ITO/MTq/LTe/GTe/ESy/GS+/OTy/FzS/Pz+/ITq/ETC/OT2/JTS/Lzy/Lzm/HzK/Nzu/FzO/FTC/LTy/PT+/HTq/Nz2/Lzi/Ey2/Dyy/Kze/HTG/FTO/Fy+/KTy/PT6/Gzq/Ey6/IzS/MTu/LTi/GTi/ES2/GTC/EzC/JTW/Mz2/Nzy/Nz6/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAb+QJxwSCwaj8ikcslsOp/Q4aFkGpEeLFPpEJUuAOCweMGFZh7ghMSBQDhOFfAj8yylYat8ewVaORJgJUgRMgNCImAEfCAGNSEhNQYgfSdgIkdfABoDJACKKwZlRB8GfAQAJKJCKp1iCQgrGEoesCw0KkUvYmAOoEylFBNGmWEJfLhKAwIgCApGKLsnjEwyABy+RWhibDVMdgUeN0a7AG0hTAMABUjkMCDnS+nrR9phBAQu3gAmSNDkLTiEJYEAIAASYmIeMEAh6IguEsiM6Nr1QIQdAA0kBkrCahcEIS3AQCgxYEAJggAA4jBxy4gGcjSENGglhkRDGp1GvCgSgVxawVUBTBRAYSIAsgC7UBgaEpKcgAiDBPi8QERFAZ/7XkRQocLGCxNYCwgcsqEe1rNgSEA1wgmt2w1JIlx1S27EWo4I6S6IuCTCS7cm4EZR0UDDXDAFNDTgayQIACH5BAkJADkALAAAAAAgACAAhTSu/JzW/GzG/NTu/FTO/FS6/KTu/Gzm/ES+/Oz2/LTe/ESy/ITK/GTe/OTy/GTW/Hzm/MTm/Dy2/Kze/Nz2/FzW/GS+/MTq/HTm/ETC/Pz+/Lzm/JTS/Dyu/KTa/HTS/Nzu/FzO/PT+/Lzi/Ey2/IzS/Lzy/Jza/HTG/Fy+/Gzq/Ey6/PT6/LTi/ES2/ITO/GTi/OT2/GTC/HTq/EzC/Dyy/Nzy/FzS/Mz2/P///wAAAAAAAAAAAAAAAAAAAAAAAAb+wJxwSCwaj0hi7IVKOpGaEmCaeFqFjsJ06rk+B67ttOBBkWodEspTvcYW4rgc8GonNdo5gtA4HBoEGVMLEU4cen0zKioHijMNCFMTSDFzNI0zBjgUFDgGGIsEUxtHL3I0igYiRiwGjKI1dkIsHXESiiZOJoyRDEUjcg0qBlYGFTVURKZiEiozq08sYVxEKXEEmV5SU01DcGLCOFYaDhMcIzYaRHIwGBRWAwAFSHIHKu9f8kjfW30fBZOSTADQzYg1MTdmhABgwYkMAF1KxVnBaIoCJANrsEDSQg4EHAMBBCTSUWQSWnEECNlmYcKACxMsTCnxZJmYAEIm1IpTY2RQEgdzcOZgUaZAARQTNl7ZltKBFyh55KBoYYMFCxstCnlxsHNOnHlPB/DzugXE0xxZyIqheZYFU7IL1J1Fi6LrHK1zhypAUWBnhwIMWihFEgQAIfkECQkAPQAsAAAAACAAIACFNK78nNb8bMb8TMr81O78VLr8pO78RLr8bOL87Pb8tN78RLL8hMr8ZN785PL8xOr8RML8XM78VMb8bOr8PLb8pOb83Pb8TLr8/P78vOb8lNL8PK78rN78dNL83O78ZL78tPL8dOL89P78vOL8TLb8jNL8vPL8ZNb8pNr8dMb8VM78XL78pPL8RL78bOb89Pr8tOL8RLb8hM78ZOL85Pb8TML8XNL8ZML8dOr8TL78PLL83PL8zPb8////AAAAAAAABv7AnnBIfI1kK9IGsFjJRi+idDqkyXSArHb7oHp7mNJyS2ZivlNHocwuoaWEGJvdfQsd8jmbkXhj1mwUKg0zMw0qLVk6GWglgQ04ExM4LpMuDYkAHF40bAOVOAY8FhY8BpEuFFmMUzJln6FRUi8GA1o6fUVjWhQuOCBoClsMUhllkAZ2jlq5Qq5bBxMhInYvC1ooRCtkKhPAdj3LAAJE11sIExUOZ28PWiREZSETcgR2Hlob8WS+9XY7+cqRQeAi0aYvCi6UCJCCxAVtZGzgiADgBpoPmoawc0YmxwQXS2B44QBgg6wpI8qgs5FFwRSSGb28KOMxhIQsHzgQeKDgRkoWN2iebbHhjQMWMhsOonHApsOZFxxSFCiQAsXJN+K2CNgB7ssLQGWUdpXiwBwZD2O9ENiVpUDaL2q2BHjrVVwzulQcpEiBt2/XIAAh+QQJCQA9ACwAAAAAIAAgAIU0rvyc1vxc0vxkvvzU7vxMwvyM0vxMtvyc6vzs9vxk4vxEuvx8yvy03vzU+vxEsvx04vx86vzE6vw8tvx0xvxUzvxcvvz8/vxs6vyMzvzE5vzk9vw8rvys3vxk3vxsxvzk8vyU2vxMvvy08vz0/vxs4vyEyvy84vyk2vxk1vxkwvzc7vxUxvyU0vxUuvyk7vz0+vxEvvy04vzc9vxEtvx06vyE7vzM9vxczvzk+vw8svxs5vyEzvz///8AAAAAAAAG/sCecEiEnXgWGodDs2ROMKJ0OtzwdICsdqszgajUi4GzLZsNUbAQ5DK7y64vmEB727UPAhX0uPsBD3JDMG1uExUeHgoeFVhuLhdEBoYeGJY1GDsYdwZDIG4FGDUQLzczMzcvfW4WekI8ZqE1CCRTMBllHA2RQjBkWxOYI2o9HVsMUjJmJRgvxEK4WglEsFsiOzsfK8++WihEFmUCNTgAA889k1kfRKtaJTsiAB3oGloHRMs1CwCuxCtaOOQrAwFDHX9qAGYROMRdFmby6D2zlwXfkHBbxpVTQSxSCy3shlTTIiJTFhlgOljQUCfLtyHKyjATcHJKBzIdThzIMm3QSa8sAW4UZJFlQAcCBDoMyJKhVwAeUxhkodBzhCgcjrhIJAailRSrGEqEoODCAgUUadCBcWAjAi+1cC/0hEu3rt27ePPq3cu3bxAAIfkECQkAOwAsAAAAACAAIACFNK78pNr8XNL81O78ZL78RML8jNL87Pb8pO78TL78ZOL81Pb8vOL8fMr8RLr8VMb8fOb8/P78xOr8dOr8RLL8tN785PL8dMb89P78bOr85Pb8ZN783O78bML89Pr8tPL8XL78bOL83Pb8xOb8hMr8XM78hO78PLL8rN78ZNb8ZML8TML8lNL87Pr8pPL8VLr81Pr8vOb8RL78VMr8hOr8zPb8RLb8tOL83PL8bOb8hM78////AAAAAAAAAAAAAAAABv7AnXBI9DB0IArgRAHpGB6idDq06E6ArHZ70lmo1IhhSy4DDFGw0PIyu7WvL3hge9sBFA7VUr/bKXJDHm1mDjMbCn4vEUQsZicKGZI5fmdVZjMZExMINSIcIwZYb3I6ZSU5nC1THiRvDTseo1oOExkPKGoobiceN2UhOQJLB2pjZhWmWwkZIVgVarGzWyQDAQ0gWQITJQAg0UKOZS9EERwQGQkAueAjblObDgAD4Dsc71K2dfTgOPhEJiaoYxfNnZkpCDJ0I1DvGIAXIwKQIDFlQbMsN6J5UJIlQLQINDKkwDglBiOHAIpFg5HjVhYCKAYMQJGNxC4tsOp90FRiWjiWEyjEZVEJLsLOZiUS2HjRAUWUCB2yMKhHZEFISRlYgSBIVUiEBS5oTAjTtazZs2jTql3Ltm3ZIAAh+QQJCQA0ACwAAAAAIAAgAIU0rvys3vxc0vzU7vxkvvxMwvx80vxMtvzs9vy03vw8tvzU9vx86vxs4vy08vx8yvxEsvzk8vyM0vxcvvz8/vzE5vxs6vw8rvyc6vzc7vxswvxUyvxMvvz0+vy84vxEtvzk9vyE6vx01vxkwvyE0vxUuvzs+vy04vzU+vxs5vzE6vyEzvyU0vx06vw8svyk8vzc8vxczvxEuvyE7vz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCacEjseFYTCODymaw8HaJ0OowYLoCsdntZRahUimRLLgNYUbDQNDG7tSWQWvh42yGZeadtd0O+aggHWi59WyVpYBkXHA0NhlssczQYFikpJBUDGR4SWG+AVA4WFgIXD1IdY26oVCikG1kaVAFuF4lDFCGlSwFqK24JUwsWDVjCah1KZa1ELxYxAASTNKtkJVO7HAC+kxVmF1MtLTIAA9QwbuIWH+bUGepSMy3b3XPfZeFSLynRI9TWDg2zlOWEnmVkmuXaJaCgmoBbkElB0cJCLGkBBqhIkKaWGwRgRrWI8UnLCVVvZoGh4CCFpRgFPnzgIAKhmVBgUISoSKpiMwoFbxSqobDgRQgGLUK8MJDlQoCSEChQU7PIC40BTXFOnQJySAI8W8PSwCW2rNmzaKkEAQA7");
}

path {
    stroke: #fff;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    /*fill-opacity: .3;
    stroke-width: 2;*/
}

path:hover {
    fill-opacity: .3 !important;
    transition: fill-opacity 500ms ease;
}

.isdir {
    cursor: pointer;
}

.tooltip {
    padding: .5em;
    background: #fff;
    border: 1px solid #aaa;
    line-height: 1em;
    border-radius: .5em;
}

img.icon {
    float: left;
    width: 32px;
    height: auto;
    margin-top: -2px;
    margin-right: 11px;
    margin-left: -1px;
    display: block;
    overflow: hidden;
    background-color: transparent;
    vertical-align: bottom;
    border: 1px solid transparent;
}

img.icon16 {
    width: 16px;
}

#topscreen {
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    max-height: 100%;

    -webkit-transition: max-height .5s .2s;
    -moz-transition: max-height .5s .2s;
    -o-transition: max-height .5s .2s;
    transition: max-height .5s .2s;
}

#topscreen.hide {
    max-height: 0;

    -webkit-transition: max-height .5s .2s;
    -moz-transition: max-height .5s .2s;
    -o-transition: max-height .5s .2s;
    transition: max-height .5s .2s;
}

#topscreen.hide>div {
    margin-top: 0;
    max-height: 0;

    -webkit-transition: all .5s .2s;
    -moz-transition: all .5s .2s;
    -o-transition: all .5s .2s;
    transition: all .5s .2s;
}

#topscreen.hide>span {
    display: block;
}

#topscreen>span {
    display: none;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgba(244, 244, 244, .7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-shadow: 0 1px 2px rgba(255, 255, 255, .8);
    margin-top: -2px;
    padding-top: 2px;
    cursor: pointer;
    font-variant: small-caps;
}

#topscreen>span:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background: rgba(244, 244, 244, .9);
}

#topscreen>div {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 15%;

    -webkit-transition: max-height .5s .2s;
    -moz-transition: max-height .5s .2s;
    -o-transition: max-height .5s .2s;
    transition: max-height .5s .2s;

    max-height: 100%;
    overflow: hidden;
}

#topscreen ul {
    list-style: none;
    position: relative;
    height: 50%;
}

#topscreen li {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

#topscreen .row {
    float: none;
    width: 100%;
    margin-left: 0;
}

.about, #hidets {
    border: 1px dotted #aaa;
    background: rgba(244, 244, 244, .5);
    text-shadow: 0 1px 2px rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 5px;
}

.about {
    margin-bottom: 20px;
}

.about h1 {
    font-size: 24px;
}

#topscreen li>a {
    text-decoration: none;
    background: rgba(244,244,244, .9);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    display: inline-block;
    text-align: center;
    overflow: hidden;
    padding: 3em;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0 1px 2px rgba(255, 255, 255, .8);
}

#topscreen li>a:hover {
    border-color: rgba(0, 0, 0, .5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    background: rgba(244,244,244, 1);
}

#topscreen img {
    width: 72px;
    height: auto;
}

#hidets {
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

#hidets:hover {
    text-decoration: underline;
}