/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAKklEQVQImT3IoREAMAwDsU8n8P4LmpqZBrRXKI1tSQBwJCV5AL6n7e0kC1PHDqFHw2E7AAAAAElFTkSuQmCC');
    font-family: serif;
    font-size: 11px;
}

header,
footer,
section {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

section {
    height: 100%;
    z-index: 1;
    /*background: rgba(0, 0, 0, .8);*/
}

footer {
    bottom: 0;
    z-index: 2;
}

.userInfo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
}

path {
    stroke: #fff;
    fill-rule: evenodd;
    /*fill-opacity: .3;
    stroke-width: 2;*/
}

.tooltip {
    padding: .5em;
    background: #fff;
    border: 1px solid #aaa;
    line-height: 1em;
    border-radius: .5em;
}
